<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.jivesoftware.openfire.plugin.PEPInMUCPlugin</class>
   <name>PEP in MUC</name>
   <description>Allows local users to explicitly broadcast their Personal Eventing information to a Multi-User Chat room.</description>
   <author>Armando Jagucki</author>
   <author>Ben Slote</author>
   <version>1.0.0</version>
   <date>5/16/2008</date>
   <minServerVersion>3.5.0</minServerVersion>
</plugin>
